* { box-sizing: border-box; }

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  overflow:hidden;
}
nav a {
  text-decoration: none;
}

/* FIXME readd after clusters working
    .leaflet-marker-icon { padding: 2px; border-radius: 2px; }
    .leaflet-marker-icon:hover { background: yellow; }
*/
.leaflet-popup-content a {color: #0645AD; text-decoration:none;}
.leaflet-popup-content a:hover { text-decoration:underline;}
div.leaflet-popup-content { width: auto !important; }
.leaflet-popup-content h1 { width: 100% ; text-align: center; background-color:#FFB698; padding:0 5px; margin-bottom:2px; }

.leaflet-popup-content div table,
.leaflet-popup-content div table td { margin: 0; border-width:0px; padding:0; border-spacing:0;}
.leaflet-popup-content div table th + td { padding-left: 5px; min-width:130px; } /* for tel-nrs */
.leaflet-popup-content div table th {  min-width:130px; } /* for link to osm (node123456789)*/

.leaflet-popup-content div table tr:first-child td, 
.leaflet-popup-content div table tr:first-child + tr td:first-child,
.leaflet-popup-content div table tr:first-child + tr td:first-child+td { vertical-align:top; padding:5px 0; border-width:0 0 2px 0; border-bottom:2px solid #FFB698;} /* osm and addr+contact data on top*/

.leaflet-popup-content div table tr:first-child td + td, 
.leaflet-popup-content div table tr:first-child+tr td + td { text-align:right; }

.leaflet-popup-content div { max-height: 600px; overflow:auto; }
.leaflet-popup-content div table tr.tag td { }

.leaflet-popup-content div table tr:first-child img { height:16px; width:16px; margin:0 5px -4px 0;}
.leaflet-popup-content div table a[target="_blank"]:after {content:url(assets/external-link-ltr-icon.png); text-decoration:none; margin-left:4px; }

    #map {
      height: 100%;
      overflow: hidden;
    }


  .mmmactive {
}

.mmmnavbar {
  font-size: 14px;
  background: #455473;
  box-shadow: #AAAAAA 0px 3px 5px 0px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index:1005;
  color:#FFF;
  font: normal normal 400 14px/20px "PT Sans";
  font-family: "PT Sans", sans-serif;
  vertical-align:middle;
  text-align:center;
}

.mmmnavbar li a {
  color: #DDDDDD;
  height:100%;
  display:block;
  line-height:50px;
  padding-left:10px;
  padding-right:10px;
}
.mmmnavbar li:first-child a {
padding:0px;
}


.mmmnavbar a:hover {
  text-decoration: none;
  color:#FFF;
}

.mmmnavbar ul {
	max-width:939px;
	margin:0 0 0 -470px; 
	padding:0;
    position:absolute;
    top:0px;
    left:50%;
    height:50px;
}

.mmmnavbar ul li {
  display: inline;
  float:left;
  height:50px;
  /*padding:10px;*/
}
.mmmnavbar ul li:first-child {
    float:normal;
}

.mmmnavbar ul li img {
	vertical-align:middle;
	margin:10px;
}

.mmmnavbar ul li:hover {
  background: #444;
}

#mmmnavtitle {
}

#mmmnavtitle:hover {
}
#content {
  position: absolute;
  top: 50px;
  bottom: 0px;
  overflow:hidden;
  left:0px;
  right:250px;
  transition: right 0.8s;
}
#content.full {

    right:0;
    transition: right 0.8s;
}

/*html {
  background: url("assets/background_smaller.png") repeat-x scroll 0px 0px,
              url("assets/background-rep.png") repeat scroll 0px 0px,
              none repeat scroll 0% 0% #f5f1e8;
}*/

.startpage {
  padding:0 20px;
}

#maps li {
  display:block;
  padding:5px;
  border: 2px solid gray;
  border-radius:5px;
  margin:10px;
  width: 215px;
  float:left;
  background: #f5f1e8;
}
#maps h4 {
  margin: 0 3px 3px 3px;
  text-align: center;
}

.leaflet-marker-icon.k-organic.v-only, #mapkey .k-organic.v-only {
  background:#00B100;
  border-radius:5px;
}
.leaflet-marker-icon.k-organic.v-yes, #mapkey .k-organic.v-yes {
  background:yellow;
  border-radius:5px;
}
.leaflet-marker-icon.k-organic.v-limited, #mapkey .k-organic.v-limited {
  background:#ff8000;
  border-radius:5px;
}

.leaflet-marker-icon.k-identity {
  background:white;
  border-radius:5px;
}

.leaflet-marker-icon.topic {
  border-bottom: black 2px solid;
}

#notificationbar {
  position: absolute;
  top: 60px;
  left: 250px;
  border: 1.5px solid black;
  padding:3px;
  border-radius:3px;
  display:none;
  background: #D6D2D0;
}

.loading {
  position: absolute;
  top: 60px;
  left:45px;
/*  border: 1.5px solid black;
  border-radius:5px;*/
  background-image:url("assets/20px-Mf_node.svg.png");
  background-position:center;
  background-repeat:no-repeat;
  padding:5px;
  width:66px;
  height:66px;
  display:none;
}
#loading_way {
  left: 100px;
  background-image:url("assets/20px-Mf_way.svg.png");
}
#loading_rel {
  left: 155px;
  background-image:url("assets/20px-Mf_relation.svg.png");
}

#sidebar .box {
  background:#D6D2D0;
  margin: 2px 0;
  padding:0 2px;
}

#sidebar .box .boxcontent {
    margin:0;
    overflow:hidden;
}

#sidebar .box.shown #mapswitcher {
    max-height:200px;
}
#sidebar .box.shown #about {
    max-height:500px;
    padding:0 2px;
}

#sidebar .box.shown .boxcontent {
    max-height:1000px;
    margin:2px 0;
    transition: max-height 0.5s ease, margin 0.5s ease;
}

#sidebar .box.hidden .boxcontent {
    max-height:0;
    border:0;
    transition: max-height 0.5s ease, margin 0.5s ease;
}

#sidebar .box.hidden h2 {
    color: #6374A6;
    transition: background 0.2s, color 0.5s;
}
#sidebar .box.shown h2 {
    color:#FBFCFA;

    background: #6374A6;
    background: -webkit-linear-gradient(top, #7286BF, #6374A6, #6374A6, #7286BF);
    background: -moz-linear-gradient(top, #7286BF, #6374A6, #6374A6, #7286BF);
    background: -ms-linear-gradient(top, #7286BF, #6374A6, #6374A6, #7286BF);
    background: -o-linear-gradient(top, #7286BF, #6374A6, #6374A6, #7286BF);
    transition: background 0.2s, color 0.2s;
}
#sidebar .box h2 {
    margin: 0;
    font-size: 24px;
    padding: 2px 2px 2px 22px;
    position: relative;
    cursor:pointer;

    background: #D6D2D0; 
    background: -webkit-linear-gradient(top, #DDDDDD, #BFBFBF, #DDDDDD);
    background: -moz-linear-gradient(top, #DDDDDD, #BFBFBF, #DDDDDD);
    background: -ms-linear-gradient(top, #DDDDDD, #BFBFBF, #DDDDDD);
    background: -o-linear-gradient(top, #DDDDDD, #BFBFBF, #DDDDDD);
    transition: background 0.2s, color 0.2s;
}
#sidebar .box h2:hover {
    background: #BFBFBF;
    background: -webkit-linear-gradient(top, #BFBFBF, #A1A1A1, #BFBFBF);
    background: -moz-linear-gradient(top, #BFBFBF, #A1A1A1, #BFBFBF);
    background: -ms-linear-gradient(top, #BFBFBF, #A1A1A1, #BFBFBF);
    background: -o-linear-gradient(top, #BFBFBF, #A1A1A1, #BFBFBF);
    transition: background 0.5s, color 0.2s;
}
#sidebar .box.shown h2:hover {
    color:white;

    background: #6374A6;
    background: -webkit-linear-gradient(top, #8198D9, #7286BF, #7286BF, #8198D9);
    background: -moz-linear-gradient(top, #8198D9, #7286BF, #7286BF, #8198D9);
    background: -ms-linear-gradient(top, #8198D9, #7286BF, #7286BF, #8198D9); 
    background: -o-linear-gradient(top, #8198D9, #7286BF, #7286BF, #8198D9);

    transition: background 0.5s, color 0.2s;
}

#sidebar .box h2:before {
    content:"»";
    position: absolute;
    top: 1px;
    left: 5px;
    transition: transform 0.1s, top 0.1s, left 0.1s;
}
#sidebar .box h2:hover:before, #sidebar .box.shown h2:before {
    content:"»";
    position: absolute;
    top: 3px;
    left: 7px;
    transform: rotate(90deg);
}

#mapswitcher {
  padding:0;
  margin:5px;
}
#mapswitcher li {
  list-style: none;
  margin:0 5px;
  border-top:2px dotted #FBFCFA;
}
#mapswitcher li:first-child {
  border-top:none;
}
#mapswitcher li:hover {
  background:#DDDDDD;
}
#mapswitcher li img {
    margin:0 5px -7px 0;
}
#mapswitcher li.current {
    display:none;
}
#mapswitcher li.current a {
  text-decoration:none;
  color:black;
  background:gray;
}
#mapswitcher a {
  display:block;
  padding:5px 0;
  height:100%;
  width:100%;
}

ul#mapkey {
    padding:0;
    margin:5px;
}
#mapkey li img {
    margin-bottom:-7px;
}
#mapkey li {
    list-style: none;
    margin:0 5px;
    padding:5px 0;
    cursor:help;
    border-top:2px dotted #FBFCFA;
}
#mapkey li[title] { /* if there is a title, then there is no infobox */
    cursor:default;
}
#mapkey li:hover {
    background:#DDDDDD;
}
#mapkey li:first-child {
    border-top:none;
}
#mapkey li div.InfoBox {
    position:relative;
    border:1px solid black;
    border-radius:3px;
    display:none;
    padding:5px;
    z-index:5;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.5);
    background: #D6D2D0;
}

#layerswitcher {
  position:absolute;
  z-index:100;
  background:green;
  border-radius:3px;
  border:1px solid black;
  right: 20px;
  box-shadow: 0 0 5px #bbb;
  padding: 0px;
  top: 150px;
}
#layerswitcher li {
  list-style: none;
  border-top:1px grey solid;
  margin:0;
  padding: 5px;
  cursor:pointer;
}
#layerswitcher li:hover {
  background:#00B100;
}
#layerswitcher li:first-child {
  border-top:none;
}

#sidebar {
    position:absolute;
    top:50px;
    right:0;
    width:250px;
    bottom:0;
    background-color:#FBFCFA;
    border-left:2px solid #6374A6; 
    box-shadow: -3px 0px 5px 1px #6374A6;
    color:#6374A6;
    overflow:auto;
    transition: margin-right 0.8s;
}
#sidebar.hidden {
    margin-right:-250px;
    transition: margin-right 0.8s;
}
#sidebar h1 {
    padding:5px 10px;
    margin:0;
    border-bottom:2px solid #6374A6;
    font-size:32px;
    text-shadow: 1px 1px 1px #D6D2D0;
}
#sidebar_toggle {
    position:absolute;
    right:248px;
    bottom:100px;
    height:50px;
    width:30px;
    border:2px solid #6374A6; 
    box-shadow: -3px 0px 5px 1px #6374A6;
    border-radius: 10px 0 0 10px;
    color:#6374A6;
    background-color:#FBFCFA;
    font-size:30px;
    text-align:center;
    line-height:40px;
    transition: background 0.2s, right 0.8s;
}
#sidebar_toggle.hidden {
    right:0px;
    transform: rotate(180deg);
    border-radius: 0 10px 10px 0;
    box-shadow: 3px 0px 5px 1px #6374A6;
}
#sidebar_toggle:hover {
    cursor:e-resize;
    background-color:#DDDDDD;
}
#sidebar_toggle.hidden:hover {
    cursor:w-resize;
}


/* taken from https://github.com/ardhi/Leaflet.MousePosition, 
License: MIT, see MIT-LICENCE-Leaflet.MousePosition.txt */

.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 10px/1.5 monospace;
}
.leaflet-control-mouseposition a {
    text-decoration: none;
    font-size:11px;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}
.leaflet-control-mouseposition a:hover {
    text-decoration: underline;
}

