* { box-sizing: border-box; }

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}
nav a {
  text-decoration: none;
}

/* FIXME readd after clusters working
    .leaflet-marker-icon { padding: 2px; border-radius: 2px; }
    .leaflet-marker-icon:hover { background: yellow; }
*/
div.leaflet-popup-content { width: auto !important; }
.leaflet-popup-content h1 { width: 100% ; text-align: center; background-color:#FFB698; padding:0 5px; margin-bottom:2px; }

.leaflet-popup-content div table { margin: 0; }
.leaflet-popup-content div table th + td { padding-left: 5px; min-width:130px; } /* for tel-nrs and link to osm (node123456789)*/
.leaflet-popup-content div table tr:first-child td { vertical-align:top; padding-bottom:10px; } /* addr+contact data on top*/
.leaflet-popup-content div table tr:first-child td + td { text-align:right; }
.leaflet-popup-content div { max-height: 600px; overflow:auto; }

    #map {
      height: 100%;
      overflow: hidden;
    }


  .mmmactive {
  background: #333;
}

.mmmnavbar {
  background: #000;
  font: 12pt sans-serif;
  line-height: 3em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index:1005;
}

.mmmnavbar a {
  color: #fff;
}

.mmmnavbar a:hover {
  text-decoration: none;
}

.mmmnavbar ul {
  margin: 0;
  padding: 0;
}

.mmmnavbar ul li {
  display: inline;
  padding: 1em;
  color: #fff;
}

.mmmnavbar ul li:hover {
  background: #444;
  font-style: bold;
}

#mmmnavtitle {
  font-weight: bold;
}

#mmmnavtitle:hover {
  background: #000;
}
#content {
  position: absolute;
  top: 48px;
  bottom: 0px;
  overflow:hidden;
  width: 100%;

}

html {
  background: url("assets/background_smaller.png") repeat-x scroll 0px 0px,
              url("assets/background-rep.png") repeat scroll 0px 0px,
              none repeat scroll 0% 0% #f5f1e8;
}

.startpage {
  padding:0 20px;
}

#maps li {
  display:block;
  padding:5px;
  border: 2px solid gray;
  border-radius:5px;
  margin:10px;
  width: 215px;
  float:left;
  background: #f5f1e8;
}
#maps h4 {
  margin: 0 3px 3px 3px;
  text-align: center;
}

.leaflet-marker-icon.only {
  background:#00B100;
  border-radius:5px;
}
.leaflet-marker-icon.yes {
  background:yellow;
  border-radius:5px;
}
.leaflet-marker-icon.limited {
  background:#ff8000;
  border-radius:5px;
}

#notificationbar {
  position: absolute;
  top: 60px;
  left: 250px;
  border: 1.5px solid black;
  padding:3px;
  border-radius:3px;
  display:none;
  background: #D6D2D0;
}

.loading {
  position: absolute;
  top: 60px;
  left:45px;
/*  border: 1.5px solid black;
  border-radius:5px;*/
  background-image:url("assets/20px-Mf_node.svg.png");
  background-position:center;
  background-repeat:no-repeat;
  padding:5px;
  width:66px;
  height:66px;
  display:none;
}
#loading_way {
  left: 100px;
  background-image:url("assets/20px-Mf_way.svg.png");
}
#loading_rel {
  left: 155px;
  background-image:url("assets/20px-Mf_Relation.svg.png");
}

#layerswitcher {
  position:absolute;
  z-index:100;
  background:green;
  border-radius:3px;
  border:1px solid black;
  right: 20px;
  box-shadow: 0 0 5px #bbb;
  padding: 0px;
  top: 150px;
}
#layerswitcher li {
  list-style: none;
  border-top:1px grey solid;
  margin:0;
  padding: 5px;
  cursor:pointer;
}
#layerswitcher li:hover {
  background:#00B100;
}
#layerswitcher li:first-child {
  border-top:none;
}

/* taken from https://github.com/ardhi/Leaflet.MousePosition, 
License: MIT, see MIT-LICENCE-Leaflet.MousePosition.txt */

.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

